.main_navbar {
  margin :0 10%;
//  position: relative;
//     text-align: center;
//     color: #225a8f;
//     line-height: 24px;
//     padding-bottom: 21px;
//     padding-top: 21px;
//     outline-offset: -2px;
    order: 5;
    height: 100%;
    margin-top: 7px;
    min-height: 64px;
  
  .navLink {
    
    
  }
}
