.navContainer {
  margin: 0 10%;
  padding: 2%;

  .navItem1 {
    &__logo {
      width: 35%;
    }

    &__link1 {
      color: #b1adad;
    }
  }

  &__navItem2 {
    &__link2 {
      color: #004481;
      text-decoration: none;
    }

    &__button {
      margin-left: 1rem;
     
    }
  }
}
